In [2]:
import pandas as pd

In [3]:
data_frankfurt = pd.read_csv('C:\\Users\\basre\\Desktop\\EPA 1316 - data science\\final\\data\\UTD_f.csv')
data_hamburg = pd.read_csv('C:\\Users\\basre\\Desktop\\EPA 1316 - data science\\final\\data\\UTD_h.csv')
data_munich = pd.read_csv('C:\\Users\\basre\\Desktop\\EPA 1316 - data science\\final\\data\\UTD_m.csv')
data_rotterdam = pd.read_csv('C:\\Users\\basre\\Desktop\\EPA 1316 - data science\\final\\data\\UTD_r.csv')
data_zurich = pd.read_csv('C:\\Users\\basre\\Desktop\\EPA 1316 - data science\\final\\data\\UTD_z.csv')

In [4]:
data_frankfurt.head()

   Unnamed: 0         day  interval   detid  flow       occ       city
0      943139  2016-12-21         0  BP2_D1    24  0.004967  frankfurt
1      943140  2016-12-21       300  BP2_D1    24  0.006900  frankfurt
2      943141  2016-12-21       600  BP2_D1    12  0.003567  frankfurt
3      943142  2016-12-21       900  BP2_D1    12  0.002667  frankfurt
4      943143  2016-12-21      1200  BP2_D1    12  0.002267  frankfurt

In [5]:
print(type(data_frankfurt),
type(data_hamburg),
type(data_munich),
type(data_rotterdam),
type(data_zurich ))

<class 'pandas.core.frame.DataFrame'> <class 'pandas.core.frame.DataFrame'> <class 'pandas.core.frame.DataFrame'> <class 'pandas.core.frame.DataFrame'> <class 'pandas.core.frame.DataFrame'>

In [11]:
frankfurt_detid_average = (data_frankfurt.groupby('detid').flow.mean()).to_frame(name = None)
hamburg_detid_average = (data_hamburg.groupby('detid').flow.mean()).to_frame(name = None)
munich_detid_average = (data_munich.groupby('detid').flow.mean()).to_frame(name = None)
rotterdam_detid_average = (data_rotterdam.groupby('detid').flow.mean()).to_frame(name = None)
zurich_detid_average = (data_zurich.groupby('detid').flow.mean()).to_frame(name = None)

In [13]:
frankfurt_detid_average['city'] = 'frankfurt'
hamburg_detid_average['city'] = 'hamburg'
munich_detid_average['city'] = 'munich'
rotterdam_detid_average['city'] =  'rotterdam'
zurich_detid_average['city'] = 'zurich'

In [14]:
zurich_detid_average.head()

               flow    city
detid
K101D11  194.748437  zurich
K101D13  267.508187  zurich
K101D14  213.337303  zurich
K103D11  259.029473  zurich
K103D13   77.499256  zurich

- Check if all detids are unique

In [23]:
if  (len(frankfurt_detid_average) == frankfurt_detid_average.index.nunique()) & (len(hamburg_detid_average) == hamburg_detid_average.index.nunique()) & (len(munich_detid_average) == munich_detid_average.index.nunique()) & (len(rotterdam_detid_average) == rotterdam_detid_average.index.nunique()) & (len(zurich_detid_average) == zurich_detid_average.index.nunique()):
    print('all detids are unique')

all detids are unique

In [27]:
Mean_perdetid = pd.concat([frankfurt_detid_average,
                                  hamburg_detid_average,
                                  munich_detid_average,
                                  rotterdam_detid_average,
                                  zurich_detid_average])

In [28]:
Mean_perdetid.head()

                  flow       city
detid
BP2_D1       79.481781  frankfurt
BP2_D2      138.109091  frankfurt
BP2_D3      134.057143  frankfurt
BP4_D1(1)   309.166667  frankfurt
BP4_D10(3)  105.637066  frankfurt

In [30]:
result = Mean_perdetid.to_csv('data\\UTD_Mean_Flow_per_detid.csv', index = True)#exporting data frame as csv file.